* {
  margin: 0;
  padding: 0;
}

.calender-box {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  height: 375px !important;
}

/* .font-color {
  color: red;
} */

.modalbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 150px;
  padding: 16px 32px 24px;
  background-color: #fff;
}

.font-color {
  color: red;
}

h3 {
  font-size: 16px;
  margin-right: 4px;
}

.info-box {
  display: flex;
}

.change-box {
  margin-top: 50px;
}
